body {
    margin: 0;
}

#posts-container { /* Posts Container  */
    
}
.post-block { /* Post block  */

    margin-bottom: 50px;
}
.tmblr-full > img {  /* Posts imgs  */
    max-width: 500px;
}
.tmblr-full {
    margin: 0;
}
#posts-container > div > p {  /* Posts caption  */
   margin:0;
}

#header {
    width: 100vw;
    height: 15px;
    background-image: url(assets/stargifgreen.webp);
}

#links a{
    color: purple;
}
#posts-container {
    min-width: 500px;
    border: 0px solid ;
    
    padding: 15px;
    height: 100vh;
    overflow-x: auto;
}

#content {
    width: 100vw;
    display: flex;
    gap: 100px;
}
#right > p {
    margin: 0;
}
iframe {
    
}

@media only screen and (max-width: 600px) {
    #content {
        gap: 50px;
        width: 600px;
        display: flex;
        flex-direction: column;
    }
  }